
<p-table #dt [value]="cprdata" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">
        <tr>
            <th>Symbol</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th pSortableColumn="volume">Volume <p-sortIcon field="volume"></p-sortIcon> </th>
            <th pSortableColumn="relativeVol">Relative Volume <p-sortIcon field="relativeVol"></p-sortIcon></th>
            <th pSortableColumn="width">Width <p-sortIcon field="width"></p-sortIcon></th>
            <th pSortableColumn="averagewidth">Average Width <p-sortIcon field="averagewidth"></p-sortIcon></th>
            <th pSortableColumn="WidthShape">Width Shape <p-sortIcon field="WidthShape"></p-sortIcon></th>
        </tr>
    </ng-template>
    
    <ng-template pTemplate="body" let-cprdata>
      
        <tr>        
           <td>{{cprdata.symbol}}</td>
           <td>{{cprdata.prevhigh}}</td>
           <td>{{cprdata.prevlow}}</td>
           <td>{{cprdata.prevclose}}</td>
           <td>{{cprdata.prevVolume}}</td>
           <td>{{cprdata.relativeVol| number : '1.2-2'}}x</td>
           <td>{{cprdata.width}}</td>
           <td>{{cprdata.averagewidth}}</td>
           <td>{{cprdata.WidthShape}}</td>
        </tr>

    </ng-template>
</p-table>