<p-messages></p-messages>

<div class="container">    
    <p-overlayPanel #op>
    <ng-template pTemplate>
     <label for="range">Choose Screener Date </label> 
        <p-calendar [(ngModel)]="targetDate"  [readonlyInput]="true" inputId="range"></p-calendar>
        <div>
          <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="p-button- p-button-success" (click)="retrieve($event)"></button>
        </div>
</ng-template>
</p-overlayPanel>
    <p-overlayPanel #rop>
    <ng-template pTemplate>
     <label for="range">Choose Screener Date to calculate Screener </label> 
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range"  [readonlyInput]="true"  inputId="range"></p-calendar>
        <div>
          <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="p-button- p-button-success" (click)="runload($event)"></button>
        </div>
</ng-template>
</p-overlayPanel>

<div class = "configure">
<button #ebutton type="text" class="configure" icon="pi pi-calendar" pButton label= {{selectedDate}} (click)="op.toggle($event)"></button>
<button #rbutton type="text" class="configure p-button- p-button-warning"  icon="pi pi-cog" pButton label= {{runDate}} (click)="rop.toggle($event)"></button>
</div>



<div class="container">
<div class="panelcont"  *ngIf="targetDate!= null&&isclicked">
<p-panel [toggleable]="true">
 <ng-template pTemplate="header"><div class="container"> Narrow Range 7 
    <p-badge value = "{{this.nr7count}}"
    size="large"
    severity="primary"
    styleClass="p-mr-2"
  ></p-badge>
  </div>
    </ng-template>
    <app-nr7 [targetDate]="formattedtargetDate" (countChanged)="nr7countchangedHandler($event)"></app-nr7>
</p-panel>
</div>
<div class="panelcont" *ngIf="targetDate!= null&&isclicked">
<p-panel [toggleable]="true">
<ng-template pTemplate="header"><div class="container">Narrow Range 4 
    <p-badge value = "{{this.nr4count}}"
    size="large"
    severity="primary"
    styleClass="p-mr-2"
  ></p-badge>
  </div>
    </ng-template>
 
    <app-nr4 [targetDate]="formattedtargetDate" (countChanged)="nr4countchangedHandler($event)"></app-nr4>
</p-panel>
</div>
<div class="panelcont" *ngIf="targetDate!= null&&isclicked">
<p-panel [toggleable]="true">
<ng-template pTemplate="header">
<div class="container">
    Central Pivot Range 
    <p-badge value = "{{this.cprcount}}"
    size="large"
    severity="primary"
    styleClass="p-mr-2"
  ></p-badge>
</div>
    </ng-template>

    <app-cpr [targetDate]="formattedtargetDate" (countChanged)="cprcountchangedHandler($event)"></app-cpr>
</p-panel>
</div>
<div class="panelcont" *ngIf="targetDate!= null&&isclicked">

<p-panel [toggleable]="true">
<ng-template pTemplate="header"><div class = "container">Candle Stick Patterns
    <p-badge value = "{{this.candlescount}}"
    size="large"
    severity="primary"
    styleClass="p-mr-2"
  ></p-badge>
  </div>
    </ng-template>
    <app-technicals [targetDate]="formattedtargetDate" (countChanged)="candlescountchangedHandler($event)"></app-technicals>
</p-panel>
</div>
</div>