.panelcont {
    margin-bottom: 20px;
    margin-top: 20px;
}

.p-card-content	 {
    align-items: center;
}

.cardcheck {
    margin-top: 10px;
}

.sidebarcontainer {
   Height:auto;

}

.configure {
    margin-top: 10px;
    margin-left:20px;
    text-align: center;
    margin-right: 20px;
}